<head>
	<script src="nui://game/ui/jquery.js" type="text/javascript"></script>
	<script src="questions.js" type="text/javascript"></script>
	<script src="scripts.js" type="text/javascript"></script>
	<script src="debounce.min.js" type="text/javascript"></script>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
	<img id="cursor" src="cursor.png">
	<div class="full-screen">
		<div class="question-container">
			<!-- header -->
			<div class="header">
				<h1>Auto Ecole</h1>
			</div>
			<!-- home -->
			<div class="body home">
				<div class="content">
					<!-- ICI BREVE PRESENTATION --> 
					<center><img src="dmv.png" class="logo"><br><p class="bold-text">Bienvenue à l'auto-école !</center>
					<br><center>Nous exigeons que tous nos citoyens passent par un test théorique avant d'obtenir un permis de conduire valide.<br>Prenez votre temps et répondez correctement.<br><br></center>
					Code de la route :<br>
					- Le test écrit coûte 200 €, il n'y a pas de remboursement si vous échouez.<br>
					- Ne vous inquiétez pas, l'auto-école vous permettra des prêts si besoin mais veillez à ne pas finir endetté<br>
					- Si vous ne réussissez pas le test la première fois, revenez un autre jour pour un nouvel essai.<br><br>
					Test de conduite<br>
					- Le test de conduite coûte 500 €, comme pour le code de la route, ce paiement n'est pas remboursé si vous échouez le test.<br>
					- Le but principal du test de conduite est l'attention portée aux détails, faites attention à votre environnement !</p>
				</div>
				<div class="buttonspot">
					<a href="#" class="button btnQuestion">Début</a>
				</div>
				<div class ="barre-progression" >
					<h2>Avancement</h2>
					<progress class="progression" value="0" max="10" >
				</div>
			</div>
			<!-- Question-->
			<div class="body questionnaire-container">
				<div class="content">
					<h2 id="questionNumero"></h2>
					<p id="question"></p>
					<form class="form" id="question-form">
						<div>
							<input type="radio" name="question" id="answerA" value="A">
							<label class="answerA"></label>
						</div>
						<div>
							<input type="radio" name="question" id="answerB" value="B">
							<label class="answerB"></label>
						</div>
						<div>
							<input type="radio" name="question" id="answerC" value="C">
							<label class="answerC"></label>
						</div>		
						<div>
							<input type="radio" name="question" id="answerD" value="D">
							<label class="answerD"></label>
						</div>
	              		<button type="submit" id="submit" class="submit">Question suivante</button>
	          		</form>
				</div>
				<div class ="barre-progression">
					<h2>Avancement</h2>
					<progress class="progression" value="0" max="10" >
				</div>
			</div>
			<!-- Résults -->
			<div class="body resultGood">
				<div class="content">
					<center><p class="bold-text">Bon travail !</p><br><br>Vous avez réussi votre code de la route !<br><br>Vous pouvez maintenant fermer cette fenêtre et procéder au test de conduite.</center>
				</div>
				<div class="buttonspot">
				<a href="#" class="button btnClose">Fermer</a>
				</div>
				<div class ="barre-progression" >
					<h2>Avancement</h2>
					<progress class="progression" value="10" max="10" >
				</div>
			</div>
			<div class="body resultBad">
				<div class="content">
					<center><p class="bold-text">Vous avez échoué !</p><br><br>Vous n'êtes pas encore prêt pour le code de la route, réessayez une autre fois ...<br><br></center>
				</div>
				<div class="buttonspot">
				<a href="#" class="button btnKick">Fermer</a>
				</div>
				<div class ="barre-progression" >
					<h2>Avancement</h2>
					<progress class="progression" value="10" max="10" >
				</div>
			</div>
		</div>
	</div>
</body>



					